@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  ::-webkit-scrollbar {
    @apply w-[0.65em] bg-transparent;
  }
  ::-webkit-scrollbar-thumb {
    @apply rounded-full bg-pink-400 bg-opacity-30;
  }
}

body {
  margin: 0;
  font-family: 'Josefin Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden !important;
  background-color: rgb(229, 215, 230);
}
.bg-color{
  background-color: rgb(229, 215, 230);
}

.shadow-animation {
  animation: shadow-breath 4s infinite ease-in-out  forwards;
  }

  @keyframes shadow-breath {
    0% {
      text-shadow: 3px 3px 2px palevioletred;
    }
    50% {
      text-shadow: 6px 3px 4px palevioletred;;
    }
    100% {
      text-shadow: 3px 3px 2px palevioletred;
    }
  }

  @keyframes fall {
    0% {
      transform: scale(0%);
      opacity: 0;
    }
    20% {
      transform: scale(100%) rotate(55deg) translateX(0%) translateY(0%);
      filter: blur(0px);
      opacity: 1;
    }
    80%{
      opacity: 1;
    }
    100% {
      transform: rotate(55deg) translateX(700px) translateY(0%);
      filter: blur(2px);
      opacity: 0;
    } 
  }

  .flower1{
    animation: fall 20s ease-in-out infinite forwards;
    animation-delay: 1s;
  }
  .flower2{
    animation: fall 25s ease-in-out infinite forwards;
    animation-delay: 10s;
  }
  .flower3{
    animation: fall 30s ease-in-out infinite forwards;
    animation-delay: 17s;
  }